.spinner polyline {
  stroke-dasharray: 160;
  stroke-dashoffset: 500;
  stroke: white;
  stroke-width: 6px;
  animation: dash 3000ms linear infinite;
}

.spinner.spinner-medium polyline {
  @apply stroke-indigo-200;
}

.spinner.spinner-dark polyline {
  @apply stroke-indigo-900;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
