.nav-menu-link.active {
  color: #2563eb;
}
.nav-menu-link.active .nav-menu-link--icon svg {
  fill: #2563eb;
}

.dark .nav-menu-link.active {
  color: #ef34ae;
}
.dark .nav-menu-link.active .nav-menu-link--icon svg {
  fill: #ef34ae;
}

.nav-menu-link::after {
  @apply block content-[''] bg-[#2563eb] dark:bg-[#ef34ae];
  @apply absolute transition-all inset-0 h-0 md:w-0 md:h-full  md:delay-500;
}

.nav-menu-link.active::after {
  @apply w-full h-1;
  @apply md:w-1 md:h-full;
}
