@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input.hideNumberArrows::-webkit-outer-spin-button,
  input.hideNumberArrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }

  /* Firefox */
  input[type='number'].hideNumberArrows {
    -moz-appearance: textfield;
  }
}

@layer components {
  .headline {
    @apply font-extrabold uppercase tracking-widest	inline-block gradient-on-text;
  }

  .btn {
    @apply inline-flex justify-center items-center;
    @apply gap-2 rounded-full;
    @apply text-sm md:text-base h-10 md:h-12 px-3 py-2 md:py-3 md:px-6;
    @apply bg-indigo-900 text-white transition-all;
  }

  .btn:disabled {
    @apply cursor-not-allowed;
  }

  /* .btn--small {
    @apply text-sm p-3 h-11;
  } */

  .btn--gradient {
    @apply text-white dark:text-slate-900;
    @apply bg-gradient dark:bg-gradient-dark;
  }

  .btn--ghost {
    @apply border-solid border-2 bg-transparent;
    @apply text-indigo-900 dark:text-indigo-200;
    @apply border-indigo-900 dark:border-indigo-500;
    @apply hover:text-pink-500 hover:border-pink-500;
  }

  .btn--ghost--inv {
    @apply border-solid border-2 bg-transparent;
    @apply text-white dark:text-indigo-200;
    @apply border-white dark:border-indigo-500;
    @apply hover:text-indigo-300 hover:border-indigo-300;
  }

  .btn--ghost svg {
    @apply fill-indigo-900 dark:fill-indigo-200;
  }

  /* .btn--ghost--character {
    @apply border-solid rounded-lg border bg-transparent;
    @apply text-indigo-900 dark:text-indigo-200;
    @apply border-indigo-200 dark:border-indigo-200;
    @apply hover:text-pink-500 hover:border-pink-500;
  } */

  .btn--ghost:hover svg {
    @apply fill-pink-500;
  }

  .btn--iconOnlyGhost {
    @apply border-solid py-2 border-2 bg-transparent;
    @apply text-indigo-900 hover:text-pink-500;
    @apply border-indigo-900 dark:border-indigo-500 hover:border-pink-500;
  }

  .link {
    @apply underline text-pink-500 visited:text-indigo-800;
    @apply dark:text-indigo-700 visited:dark:text-indigo-200;
  }
}
@layer base {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  main {
    @apply mb-14 md:mb-0;
  }

  #root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
  }

  /* main {
  @apply bg-indigo-50;
} */

  /* .gradient {
    background-image: linear-gradient(130deg, #ef34ae 0%, #213885 70%, #4ebaf7 120%);
  }

  .dark .gradient {
    background-image: linear-gradient(130deg, #fe40bb 0%, #febcf7 50%, #73ddf8 70%);
  } */

  .gradient-on-text {
    @apply bg-gradient bg-clip-text text-transparent box-decoration-clone;
  }

  .dark .gradient-on-text {
    @apply bg-gradient-dark bg-clip-text text-transparent box-decoration-clone;
  }

  /* Use the colors to transition to */
  /* svg:hover {
    fill: url(#mainGradientAnimated);
  } */
  /* svg:hover stop:first-child {
    stop-color: #4ebaf7;
  }
  svg:hover stop:last-child {
    stop-color: #ef34ae;
  } */

  /* .dark svg:hover stop:first-child {
    stop-color: #73ddf8;
  }
  .dark svg:hover stop:last-child {
    stop-color: #fe40bb;
  } */

  svg {
    /* width: auto;
    height: 100%; */
    @apply w-auto h-full;
  }

  .checkmark-animate--start polyline {
    stroke-dashoffset: 500px;
    stroke-dasharray: 500px;
    transition: all 150ms ease-out;
  }
  .checkmark-animate--end polyline {
    stroke-dashoffset: 180px;
    stroke-dasharray: 500px;
  }
}
