@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  main {
    @apply mb-14 md:mb-0;
  }

  #root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
  }

  /* 
* {
  outline: 1px solid red;
} */

  /* main {
  @apply bg-indigo-50;
} */

  .gradient {
    background-image: linear-gradient(130deg, #ef34ae 0%, #213885 70%, #4ebaf7 120%);
  }

  .dark .gradient {
    background-image: linear-gradient(130deg, #fe40bb 0%, #febcf7 50%, #73ddf8 70%);
  }

  .gradient-on-text {
    @apply gradient bg-clip-text text-transparent box-decoration-clone;
  }

  .gradient-on-svg {
    fill: url(#mainGradient);
  }

  /* Use the colors to transition to */
  /* svg:hover {
    fill: url(#mainGradientAnimated);
  } */
  /* svg:hover stop:first-child {
    stop-color: #4ebaf7;
  }
  svg:hover stop:last-child {
    stop-color: #ef34ae;
  } */

  .dark .gradient-on-svg {
    fill: url(#darkGradient);
  }

  /* .dark svg:hover stop:first-child {
    stop-color: #73ddf8;
  }
  .dark svg:hover stop:last-child {
    stop-color: #fe40bb;
  } */

  svg {
    /* width: auto;
    height: 100%; */
    @apply w-auto h-full fill-indigo-900;
  }
}

.headline {
  @apply font-extrabold uppercase tracking-widest	inline-block gradient-on-text;
}

input:focus + .password-toggle {
  @apply outline-none;

  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  /* border-color: #2563eb; */
}

.btn {
  @apply inline-flex justify-center items-center h-12 gap-2 py-3 px-6 rounded-full bg-indigo-900 text-white w-full md:w-auto transition-all;
}

.btn--gradient {
  @apply text-white  dark:text-slate-900 gradient;
}

.btn--ghost {
  @apply border-solid border-2 bg-transparent text-indigo-900 dark:text-indigo-200  border-indigo-900 dark:border-indigo-500  hover:text-pink-500 hover:border-pink-500;
}

.btn--ghost svg {
  @apply fill-indigo-900 dark:fill-indigo-200 transition-all;
}

.btn--ghost:hover svg {
  @apply fill-pink-500;
}

.btn--iconOnlyGhost {
  @apply border-solid py-2 border-2 bg-transparent text-indigo-900 border-indigo-900 dark:border-indigo-500 hover:text-pink-500 hover:border-pink-500;
}

.btn.full {
  @apply md:w-full;
}

.link {
  @apply underline text-pink-500 visited:text-indigo-800 dark:text-indigo-700 visited:dark:text-indigo-200;
}
